/* ================= BOTÕES ================= */
.btn{
  border:0;
  min-height:46px;
  border-radius:16px;
  padding:13px 20px;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  gap:9px;
  background:var(--azul-principal);
  color:#fff;
  font-weight:900;
  cursor:pointer;
  transition:.2s ease;
  box-shadow:0 12px 28px rgba(7,95,211,.16)
}

.btn:hover{transform:translateY(-2px);filter:brightness(1.04)}
.btn:disabled{opacity:.65;cursor:not-allowed;transform:none}
.btn-large{min-height:56px;padding:16px 26px;border-radius:18px}
.btn-outline,.btn-ghost{
  background:#fff;
  color:var(--azul-principal);
  border:1px solid var(--azul-principal);
  box-shadow:none
}
.btn-ghost{border-color:var(--cinza-borda)}
.btn-small{min-height:36px;padding:8px 12px;border-radius:11px;font-size:13px}
